.wrapper{
    display: flex;
    flex-wrap: nowrap;
    height: -webkit-fill-available;
    overflow-x: auto;
    overflow-y: hidden;
}
nav{
    flex: 10%;
}
nav li a{
    color: white;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    z-index: 1;
}
nav li{
    border-bottom: 1px dotted #444444
}
nav li:hover{
    background-color: black;
}
.main-content{
    margin-top: 4.5rem;
    flex: 90%;
    height: 81vmin;
    overflow-y: auto;
}
h2{
    color: #38687F;
    border-bottom: 2px solid #38687F;
    padding-bottom: 10px;
}

table{
    width: 100%;
    font-family: 'Lato', sans-serif;
    margin-left: 40px;
}
#card{
    border-right: 1px dashed black;
}

@media only screen and (max-width: 786px){
    .wrapper{
        flex-direction: column;
    }
    .justify-content-around{
        flex-direction: column;
    }
    table{
        margin-left: 0;
    }
    #card{
        align-self: center;
        border-right: none;
        border-bottom: 1px dashed black;
    }
    #dashboard{
        
        display: grid;
        grid-template-columns: auto;
    }
    #dashboard .col{
        width: 100%;
    }
    .main-content{
        margin-top: 0px;
    }
    .no-collapsed .main-content{
        margin-top: 4.5rem;
    }
}